version: '3.8'

services:
  backend:
    build: .
    container_name: linker_backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./instance:/app/instance
      - ./fabric_swatches:/app/fabric_swatches
      - ./mockups:/app/mockups
      - ./masks:/app/masks
      - ./silhouettes:/app/silhouettes
      - ./Excel_files:/app/Excel_files
      - ./generated_mockups:/app/generated_mockups
      - ./generated_techpacks:/app/generated_techpacks
    ports:
      - "5000:5000"

  caddy:
    image: caddy:alpine
    container_name: linker_caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./dist:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

volumes:
  caddy_data:
  caddy_config:
