version: '3.8'

services:
  backend:
    build: .
    container_name: linker_backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./instance:/app/instance
      - ./fabric_swatches:/app/fabric_swatches
      - ./mockup_templates:/app/mockup_templates
      - ./generated_mockups:/app/generated_mockups
      - ./databases:/app/databases
    ports:
      - "5000:5000"

  caddy:
    image: caddy:alpine
    container_name: linker_caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./dist:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

volumes:
  caddy_data:
  caddy_config:
